<!DOCTYPE html>
<html>

<head>
    <title>Get Your CV</title>
    <style>
        body {
            height: 100vh;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f0f0f0;
        }

        .container {
            text-align: left;
        }

        .container label {
            font-size: large;
            font-family: Georgia, 'Times New Roman', Times, serif;
            display: block;
            margin-bottom: 10px;
        }

        .container input[type="text"] {
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 5px;
            width: 400px;
        }

        .container input[type="submit"] {
            padding: 10px;
            font-size: 14px;
            border: none;
            border-radius: 5px;
            width: 40px;
            height: 38px;
            background-color: #4f4f4f;
            color: #fff;
            cursor: pointer;
        }
        input[type="submit"]:hover {
            background-color: #2e2e2e;
        }
    </style>
</head>

<body>
    <div class="container">
        <form action="/cv/search" method="post">
            <label for="firstName">
                <strong>Enter your First Name:</strong>
            </label>
            <input type="text" id="firstName" name="fname" placeholder="e.g. Atanu" required />

            <input type="submit" value=">" />
        </form>
    </div>
</body>

</html>