<!DOCTYPE html>
<html>

<head>
    <title> Redirection Page </title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
        }

        .container {
            width: 400px;
            margin: 100px auto;
            background-color: #fff;
            padding: 30px;
            border: 1px solid #ddd;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .title {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .message {
            font-size: 18px;
            margin-bottom: 20px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="title">Registration Successful</div>
        <div class="message">You will be redirected to the main page shortly...</div>
    </div>
</body>

<script>
    setTimeout(() => location.href = '/cv/register', 2000);
</script>

</html>